@using WebEazyCao.Helper
@using WebEazyCao.Models
@{
    var userFeedback = Context.Session.GetObjectFromJson<List<Feedback>>("UserFeedback");
    var orderNotificate = Context.Session.GetObjectFromJson<List<OrderHistory>>("OrderNotification");
    var totalNotifications = userFeedback?.Count() + orderNotificate?.Count();
}
<style>
    .dropdown-menu-lg {
        max-height: 300px; /* Chiều cao tối đa của dropdown */
        overflow-y: auto; /* Tạo thanh cuộn dọc */
    }
</style>
<!-- Right navbar links -->
<ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">@totalNotifications</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">
                @totalNotifications Notifications
            </span>
            <div class="dropdown-divider"></div>
            @if (userFeedback != null)
            {
                @foreach (var item in userFeedback.Take(6))
                {
                    <a href="@Url.Action("ProductDetail","Product",new{ Id = item.ProductId })" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> @item.User?.Name comment sản phẩm @item.ProductId
                        <span class="float-right text-muted text-sm">@item.CreatedAt?.ToString("hh:mm tt")</span>
                    </a>
                }
            }
            @if (orderNotificate != null)
            {
                foreach (var item in orderNotificate.Take(6))
                {
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i>
                        @item.User?.Name mua @item.ProductName
                        <span class="float-right text-muted text-sm">@item.Date?.ToString("hh:mm tt")</span>
                    </a>

                }
            }
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
        </a>
    </li>
</ul>