<!-- File: Views/Shared/Components/UserList/Default.cshtml -->
@model X.PagedList.IPagedList<WebEazyCao.Models.User>
@using X.PagedList.Mvc.Core;

<table class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên truy cập</th>
            <th>Họ tên</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Số dư</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = (Model.PageNumber - 1) * Model.PageSize + 1;
            foreach (var item in Model)
            {
                <tr id="trow_@item.Id">
                    <td>@i</td>
                    <td>@item.UserName</td>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>
                        @if (item.IsActive == true)
                        {
                            @Html.Raw("Hoạt động")
                        }
                        else
                        {
                            @Html.Raw("Ngừng hoạt động")
                        }
                    </td>
                    <td>@item.Money</td>
                    <td>
                        <a href="Edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                        <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

<div class="card-footer">
    <div class="row">
        <div class="col-6">
            @Html.PagedListPager(Model, page => Url.Action("Invoke", "UserListViewComponent",
                     new { searchKey = ViewBag.SearchKey, page }), PagedListRenderOptions.Classic)
        </div>
    </div>
</div>
