@model WebEazyCao.Models.OrderHistory

@{
    ViewData["Title"] = "EditOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">Danh mục</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chỉnh sửa lịch sử đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Advanced Form</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        @using (Html.BeginForm("EditOrder", "OrderHistory", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="modal-body">
                <h4 class="control-group">Chỉnh sửa lịch sử đơn hàng</h4>
                <div class="control-group">
                    <label class="control-label" for="UserId">User ID</label>
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nhập User ID" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
                <div class="control-group">
                    <label class="control-label" for="ProductId">Product ID</label>
                    @Html.EditorFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nhập Product ID" } })
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                </div>
                <div class="control-group">
                    <label class="control-label" for="Date">Date</label>
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nhập ngày" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
                <div class="control-group">
                    <label class="control-label" for="Quantity">Quantity</label>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "\\d+", title = "Số lượng phải là số" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
                <div class="control-group">
                    <label class="control-label" for="TotalPrice">Total Price</label>
                    @Html.EditorFor(model => model.TotalPrice, new { htmlAttributes = new { @class = "form-control", required = "required", pattern = "\\d+\\.?\\d*", title = "Giá tổng phải là số" } })
                    @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
                </div>
                <div class="control-group">
                    <label class="control-label" for="ProductName">Tên sản phẩm</label>
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Nhập tên sản phẩm" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
